/*
GLOBAL
*/

html, body, #root, .app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.icon {
  color: rgb(106, 116, 133);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding-bottom: 0.2rem;
}

.icon svg {
  width: 0.5rem;
  height: 0.5rem;
}

.icon-selected {
  color: #FFFFFF;
  border-bottom: 2px solid white;
  padding-bottom: 0.2rem;
}

.icon:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.games {
  width: 450px;
  height: 100%;
}

.champs {
  width: 450px;
  height: 100%;
}

.games__search {
  width: 100%;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  user-select: none;
}

.game__header {
  font-weight: 500;
}

.game:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.filter {
  width: 450px;
  height: 350px;
  margin-bottom: 5rem;
}

.old-sidebar {
  height: 100vh;
  width: 500px;
  padding: 1rem;
  box-sizing: border-box;
}

.header {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.api {
  font-family: monospace, monospace;
  font-size: 0.9rem;
  width: 550px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.link-like {
  color: rgb(58, 65, 76);
  text-decoration: underline;
  cursor: pointer;
}

.link-like:hover {
  font-weight: 500;
  box-sizing: border-box;
}

.delete-icon {
  flex-grow: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  padding: 0.5rem;
}

.delete-icon:hover {
  color: red;
}