.dropdown-outer {
    position: relative;
    flex-grow: 1;
}

.dropdown {
    background-color: rgb(36, 39, 48);
    font-size: 0.9rem;
    color: rgb(198, 202, 209);
    padding: 0.5rem;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.dropdown:hover {
    background-color: rgb(58, 65, 76);
}

.dropdown:active {
    border: 1px solid white;
    box-sizing: border-box;
}

.dropdown-placeholder {
    font-size: 0.8rem;
    color: rgb(121, 129, 141);
}

.dropdown-options {
    position: absolute;
    background-color: rgb(41, 50, 60);
    top: 2.5rem;
    width: calc(100%);
    left: 0;
    z-index: 9999;
    user-select: none;
}

.dropdown-options__option {
    display: flex;
    flex-direction: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}

.dropdown-options__option:hover {
    background-color: rgb(106, 116, 133);
}

.dropdown-options__option-label {
    display: flex;
    flex-direction: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 0.8rem;
    padding-right: 0.5rem;
    color: rgb(193, 200, 209)
}

.dropdown-options__dot {
    flex-grow: 0;
    width: 10px;
    height: 10px;
    margin: 0.5rem;
}

.dropdown-options__type {
    flex-grow: 0;
    width: 40px;
    padding: 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: rgba(140, 210, 205, 0.2);
    border-radius: 1px;
    border: 1px solid rgb(140, 210, 205);
    color: rgb(140, 210, 205);
    text-align: center;
    height: fit-content;
    font-size: 0.7rem;
    margin: 0.2rem;
    margin-right: 0.5rem;
    box-sizing: border-box;
}

.dropdown-options__value {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.dropdown-separator {
    width: 100%;
    height: 1px;
    background-color: rgb(36, 39, 48);
}

.dropdown-options__search-outer {
    padding: 0.5rem;
}

.dropdown-options__search-inner {
    display: flex;
    align-items: center;
    background-color: rgb(36, 39, 48);
    padding: 0.5rem;
    font-size: 0.8rem;
    color: rgb(121, 129, 141);
}

.dropdown-options__search {
    background-color: rgb(36, 39, 48);
    color: rgb(121, 129, 141);
    border: 0;
    outline: none;
    flex-grow: 1;
    width: calc(100% - 20px);
}

.dropdown-options__search-icon {
    flex-grow: 0;
}